html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px green solid;
  width: 1000px;
  height: 1000px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.grid-item {
  /* width: 25%; */
  /* height: 25%; */
  background-color: red;
  border: 2px blue solid;
}
