html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px green solid;
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.container .grid-item {
  width: 16px;
  height: 16px;
  background-color: red;
  border: 2px blue solid;
}
